In [12]:
import pandas as pd

In [19]:
data = {'flavia':[9,4,8,7],
        'antonio':[3,7,6,9],
       'clara':[4,5,6,7]
       }
tabela = pd.DataFrame(data)
tabela

   flavia  antonio  clara
0       9        3      4
1       4        7      5
2       8        6      6
3       7        9      7